.apiTable {
    border-collapse: collapse;
  }

.apiTable td, .apiTable th {
    border: 1px solid #ddd;
    padding: 5px;
  }

.apiTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }